@font-face {
    font-family: 'HerbertEF';
    src: url('HerbertEF-RegularSmallCaps.woff2') format('woff2'),
        url('HerbertEF-RegularSmallCaps.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

