/* Classes pour le menu */

header
{
    display: flex;
    background: black;
    margin-bottom: 2.5%;
}
input[name="search"]
{
    padding-right: 5px;
    transition: 2s;
}
a
{
    text-decoration: none;
    padding-right: 5px;
}
.a1
{
    color: white;
}
.a2
{
    color: black;
}
.flex
{
    display: flex;
    margin-left: 5%;
}
.flex1>img
{
    height: 55px;
    margin-right: auto;
    display: initial;
}
.flex2
{
    justify-content: space-between;
}
div.flex1.flex2
{
    display: inline-block;
}
.padding11
{
    margin-top: 5px;
    padding-right: 0px;
}
.lastsvg
{
    display: none;
}
circle
{
    margin-top: 0px;
}

/* Classes pour la section "Qui sommes nous ?" */

.grid
{
    grid-template-columns: auto 25px auto 25px auto;
    grid-template-rows: auto 25px auto;
    grid-template-areas: "sec1 . sec2 . sec3"
                         ". . . . ."
                         "sec4 . sec5 . .";
}

/* Classes pour la section "Contact" */

.contact
{
    display: flex;
}
.contact>.flexcenter
{
    display: flex;
    margin-left: 5%;
    padding-top: 0px;
}
form
{
    margin-left: auto;
    margin-right: 5%;
}
.input1
{
    width: 259px;
}
.input2
{
    width: 530px;
}
.padding2
{
    margin-top: 0px;
}
.padding1
{
    margin-top: 5px;
}
.textarea
{
    padding-bottom: 125px;
}
.submit
{
    margin-top: 10px;
    border-bottom: none;
    width: 530px;
    background: white;
    color: black;
    margin-left: 2.5px;
}

/* Pour toutes les pages : */

.h1
{
    margin-top: 0px;
    margin-left: 0%;
}