body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    transition: 2s;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
@font-face
{
    font-family: "HerbertEF SmallCaps Regular";
    src: url("/font/HerbertEF\ SmallCaps\ Regular.otf") format("otf");
}   

/* Classes pour le menu */

header
{
    display: flex;
    background: black;
    overflow: hidden;
    transition: 2s;
}
input[name="search"]
{
    padding-right: 5px;
    transition: 2s;
}
.deroul
{
    transform-origin: 0px 50%;
    transform: scaleY(100%);
}
.orange
{
    background: #ff6e40;
}
a
{
    text-decoration: none;
    padding-right: 5px;
    color: white;
    font-family: HerbertEF SmallCaps Regular;
}
.a
{
    display: grid;
    margin-left: auto;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    justify-content: center;
    transition: 5s;
}
.a>a
{
    padding: 15px;
}
.a>svg
{
    display: none;
}
.absolute
{
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
}
.flex
{
    display: flex;
    margin-left: 5%;
}
.a>.flexcenter, .flexcenter
{
    display: flex;
    justify-content: center;
    width: 96vw;
    padding-top: 15px;
    padding-bottom: 15px;
}
.flex1
{
    display: block;
}
.flex2
{
    display: block;
}
.flex3.flexcenter
{
    display: flex;
    justify-content: center;
}
.flexcenter>img
{
    height: 55px;
}
.flex1.flex2>.flexcenter, .flexcenter
{
    display: flex;
    justify-content: center;
}
div.flex1.flex2
{
    display: inline-block;
}
.sombre
{
    background: black;
    color: white;
}
.sombre2
{
    background: white;
}
.sombre3
{
    color: white;
}
.lastsvg
{
    display: none;
}

/* Classe pour bouton scroll */

.fixed, .fixed>a>svg
{
    display: none;
}

/* Classes pour la section "Que faisons nous ?" */

#que-faisons-nous
{
    background: #ff6e40;
}
.grid2
{
    width: 85.5vw;
    height: 48.09vw;
    overflow: hidden;
}
.grid2, p
{
    margin-left: 21.85px;
}
.grid2>.imgdiapo
{
    display: flex;
    transition: 2s;
    width: 100%;
    height: 100%;
}
.grid2>.imgdiapo>img
{
    height: 100%;
}
.rondd
{
    transform: translate(0px, 75px);
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background: gray;
    opacity: 0.7;
    z-index: 2;
}
.droitee
{
    margin-left: 52.5vw;
}
.flex4
{
    position: absolute;
    display: flex;
    margin-left: 5vw;
    justify-content: space-evenly;
}

/* Classes pour la section "Qui sommes nous ?" */

.grid
{
    margin-left: 10vw;
    margin-right: 10vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 25px auto 25px auto 25px auto 25px auto;
    grid-template-areas: "sec1"
                         "."
                         "sec2"
                         "."
                         "sec3"
                         "."
                         "sec4"
                         "."
                         "sec5";
}
.sec1, .sec2, .sec3, .sec4, .sec5
{
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    transition: 2s;
    
}
.sec6, .sec7, .sec8, .sec9, .sec0, .sec11, .sec12, .sec13, .sec14, .sec15
{
    padding-top: 5px;
    height: 25px;
    display: flex;
}
.sec6>div, .sec7>div, .sec8>div, .sec9>div, .sec0>div, .sec11>div, .sec12>div, .sec13>div, .sec14>div, .sec15>div
{
    margin-left: auto;
    margin-right: auto;
}
.sec1>img, .sec2>img, .sec3>img, .sec4>img, .sec5>img
{
    width: 100%;
}
.sec1
{
    grid-area: sec1;
}
.sec2
{
    grid-area: sec2;
}
.sec3
{
    grid-area: sec3;
}
.sec4
{
    grid-area: sec4;
}
.sec5
{
    grid-area: sec5;
}
.photofiltre>img
{
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}
.resp-container { 
    position: relative; 
    overflow: hidden; 
    margin-top: 25px;
    padding-top: 56.25%;
    margin-bottom: 16px;
  }
.resp-iframe 
{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    border: 0; 
}

/* Classes pour la section "Crédits" */

#credit
{
    background: #ff6e40;
}
.p1
{
    padding-bottom: 16px;
}

/* Classes pour la section "Contact" */

.contact
{
    display: initial;
    padding-top: 2.5%;
}
form 
{
    margin-left: 5%;
}
.input1
{
    width: 90%;
}
.input2
{
    width: 90%;
}
.padding21
{
    margin-right: 5px;
}
.padding2
{
    margin-top: 5px;
}
.padding11
{
    margin-top: 5px;
}
.textarea
{
    padding-bottom: 125px;
}
.submit
{
    margin-top: 5px;
    border-bottom: none;
    width: 90%;
    background: white;
    color: black;
    margin-left: 7.5px;
}
input[type=checkbox]
{
    margin-top: 15px;
    padding-left: 5%;
}

/* Classes pour toutes les pages */

.invisible
{
    display: none;
    transition: 2s;
}
img
{
    transition: 2s;
}
h2
{
    margin-left: 21.85px;
}